@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
/* prettier-ignore */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

:root {
  --color-primary: #e4bb24;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Montserrat";
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.header-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url("../img/capa-madmax2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  padding: 20px;
  width: 100%;
}

.header-primary:after {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 212, 255, 0) 75%
  );
  content: "";
  height: 90vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav-primary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1024px;
  font-size: 0.8rem;
  color: white;
  font-weight: 700;
}

.nav-primary ul li {
  margin-right: 5px;
  padding: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.nav-primary ul li a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

.nav-primary ul li a:hover {
  color: var(--color-primary);
}

.user-info {
  display: flex;
  cursor: pointer;
}

.user-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.user-info span {
  margin-left: 20px;
  align-self: center;
}

.banner-info {
  max-width: 1024px;
  margin: 0 auto;
  z-index: 2;
}

.banner-info h1 {
  color: white;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.banner-info ul li a {
  text-decoration: none;
  margin-right: 15px;
  text-transform: uppercase;
  color: white;
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
  font-weight: 400;
}

.banner-info ul li a:hover {
  color: var(--color-primary);
}

.banner-info .button {
  display: flex;
  width: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary);
  height: 50px;
  border-radius: 50px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.banner-info .button:hover:after {
  content: "";
  position: absolute;
  height: 50px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.banner-info .button span {
  margin-right: 15px;
}

.banner-info .button i {
  font-size: 1.3rem;
}

.banner-info .info {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  font-size: 0.9rem;
}

.banner-info .info .cinema {
  color: white;
  margin-bottom: 1rem;
}

.banner-info .info .premier-day {
  color: var(--color-primary);
  margin-bottom: 1rem;
}

/* Nav secundary */
.nav-secundary {
  display: flex;
  max-width: 1024px;
  margin: 0 auto;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #ebebeb;
  margin-bottom: 25px;
}

.nav-secundary ul li a {
  color: var(--color-primary);
  text-decoration: none;
  padding: 20px;
  margin: 0 10px 0 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75rem;
}

.nav-secundary ul li a:hover {
  border-bottom: solid 4px;
  border-bottom-color: var(--color-primary);
}
/* main section */
main {
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
  margin: 0 auto;
  overflow-x: hidden;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  width: 245px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.card .figure {
  margin: 0;
  width: 100%;
  position: relative;
}

.card .figure img {
  width: 100%;
}

.movie-info {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  position: absolute;
  top: -4px;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.movie-info:hover {
  opacity: 1;
}

.movie-info h1 {
  color: var(--color-primary);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.fa-play {
  color: white;
  font-size: 3rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.fa-play:hover {
  color: var(--color-primary);
}

.card footer {
  padding: 10px;
  background-color: white;
}

.card h2 {
  font-size: 0.8rem;
  margin: 0;
  text-transform: uppercase;
}

.card ul {
  padding: 0px;
  margin: 10px 0 10px 0;
}

.card ul li {
  font-size: 0.6rem;
  color: var(--color-primary);
  padding: 0;
  margin-right: 5px;
}

.like-session {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.like-session span {
  font-weight: 700;
  font-size: 1.2rem;
}

.footer {
  display: flex;
  background-color: white;
  justify-content: center;
}

.footer .container {
  display: flex;
  width: 1024px;
  padding: 40px 0 30px 0;
  align-items: center;
  justify-content: space-between;
}

.fa-twitter,
.fa-facebook-official,
.fa-instagram,
.fa-heart {
  color: #ccc;
  cursor: pointer;
  font-size: 22px;
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
}

.fa-heart:hover {
  color: red;
}

.fa-twitter:hover {
  color: #55acee;
}

.fa-facebook-official:hover {
  color: #3b5998;
}

.fa-instagram:hover {
  color: #e95950;
}
